body {
    background-image: url('img/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(18, 22, 30);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    max-width: 365px;
    text-align: left;
    position: relative;
}

.profile-card {
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.description {
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
}

.tab-button {
    background-color: transparent;
    border: none;
    color: #999;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.tab-button:hover,
.tab-button.active {
    color: white;
}

.tab-indicator-wrapper {
    width: 100%;
    background-color: #333;
    height: 3px;
    position: relative;
}

.tab-indicator {
    background-color: #0066ff;
    height: 3px;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.3s;
}

.tab-button:nth-child(2).active~.tab-indicator-wrapper .tab-indicator {
    left: 50%;
}

.tab-content {
    margin-top: 20px;
    min-height: 200px;
}

.tab-content p {
    padding-left: 10px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-links span {
    padding-top: 5px;
}

.social-links a:hover {
    background-color: rgb(29, 31, 38);
}

.social-links img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 12px;
}

.social-links .text {
    display: flex;
    flex-direction: column;
}

.social-links .title {
    font-size: 16px;
}

.social-links .link {
    color: #999;
    font-size: 12px;
}

.language-switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
}

.language {
    padding: 5px;
    cursor: pointer;
}

.professions {
    max-width: 365px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.profession {
    margin: 5px 0;
    font-size: 18px;
}

.profession.center {
    font-weight: bold;
}